/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(0, 0%, 1%);
    color: #fff;
}

/*=============== VARIABLES CSS ===============*/
:root {
    --color-red: hsl(7, 89%, 46%);
    --color-orange: hsl(22, 89%, 46%);
    --color-yellow: hsl(54, 89%, 46%);
    --color-green: hsl(92, 89%, 46%);
}

.gradient-color-red,
.gradient-color-red::after {
    background: linear-gradient(90deg, var(--color-red) 15%, hsl(11, 93%, 68%) 100%);
}

.gradient-color-orange,
.gradient-color-orange::after {
    background: linear-gradient(90deg, var(--color-orange) 15%, hsl(54, 90%, 45%) 100%);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
    background: linear-gradient(90deg, var(--color-yellow) 15%, hsl(92, 90%, 45%) 100%);
}

.gradient-color-green,
.gradient-color-green::after {
    background: linear-gradient(90deg, var(--color-green) 15%, hsl(92, 90%, 68%) 100%);
}
.sidebar {
    position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 205px;
        padding: 20px;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,2,74,1) 56%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
        z-index: 2
    }

/* Battery styles */
.battery {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.battery__card {
    /*max-width: 500px;*/
    width: 300px;
    height: 300px;
    background-color: hsl(0, 0%, 9%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.battery__data {
    flex: 1;
}

.battery__percentage {
    font-size: 1.5rem;
}

.battery__status {
    font-size: 0.8rem;
    margin-top: 10px;
}

.battery__pill {
    width: 35px;
    height: 100px;
    background: linear-gradient(90deg,rgba(10,28,56,1) 0%,rgba(15,35,46,1) 50%, rgba(10,28,56,1) 100%);
    /*box-shadow: inset 10px 0 24px hsl(0, 0%, 16%), inset -2px 6px 24px hsl(0, 0%, 56%);*/
    border-radius: 1.75rem;
    margin-left: auto;
    position: relative;
}

.battery__level {
    position: absolute;
    inset: 3px;
    border-radius: 1.75rem;
    overflow: hidden;
}

.battery__liquid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: var(--gradient-color-red);
    box-shadow: inset -5px 0 6px hsla(0, 0%, 0%, .1), inset 6px 0 6px hsla(0, 0%, 0%, .15);
    transition: .3s;
}

.battery__liquid::after {
    content: '';
    position: absolute;
    height: 4px;
    background: inherit;
    box-shadow: inset 0px -1.5px 3px hsla(0, 0%, 0%, .2);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -2px;
    border-radius: 50%;

}
.glass {
    background: rgba(119, 150, 153, 0.02);
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Reduced blur radius and spread */
    backdrop-filter: blur(0.25px);
    -webkit-backdrop-filter: blur(0.25px);
}
.dropdown-menu.show {
    background-color: #343a40 !important;
}

.dropdown-item {
    background-color: #343a40;
    color: white;
}

.dropdown-item:hover {
    color: darkcyan;
}

/* Body Style */
body {
    display: flex;
    flex-direction: column; /* Ensure body layout is column to stack sections */
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(6,1,61,1) 57%, rgba(0,0,0,1) 100%);
    margin: 0;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    padding: 20px;
}

/* Main Dashboard */
.main-dashboard {
    flex: 1; /* Allows this section to take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(15, 1fr); /* Columns */
    gap: 15px; /* Adjust gap as needed */
    max-width: 1200px; /* Adjust max-width as needed */
    margin-top: 70px;
    margin-right: 110px;
    width: 100%;
    padding: 10px;
    background: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.button {
    width: 50px; /* Smaller width */
    height: 50px; /* Smaller height */
    background: #222;
    border-radius: 50%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .1),
    5px 5px 10px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    font-size: 0.8em; /* Smaller font size */
    color: #aaa;
    margin: 5px;
    text-shadow: none;
}


.done-button {
    width: 85px; /* Smaller width */
    height: 85px; /* Smaller height */
    background: #222;
    border-radius: 50%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .1),
    5px 5px 10px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    font-size: 0.8em; /* Smaller font size */
    color: #aaa;
    margin: 5px;
    text-shadow: none;
}

/* Button Active State */
.button.green {
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, .1),
                inset 5px 5px 10px rgba(0, 0, 0, .5);
}

.data-table {
    margin-right: 100px;
}

/* Toggle Buttons(charge and discharge) */
.toggle-buttons {
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    justify-content: center;  /* Center align buttons */
    margin-top: 20px;  /* Space above */
    margin-bottom: 20px;  /* Space below */
    margin-right: 150px;
}
.toggle-buttons .ch-button {
    width: 150px;  /* Increase button width */
    height: 50px;  /* Increase button height */
    font-size: 1.2em;  /* Increase font size */
    margin: 0 10px;  /* Adjust margin for spacing */
    border-radius: 5px;  /* Maintain border radius */
    background: #444;  /* Button background */
    color: #ddd;  /* Text color */
    cursor: pointer;  /* Pointer cursor on hover */
}

.toggle-buttons .ch-button:hover {
    background: #666;  /* Darker background on hover */
    color: #fff;  /* Light text color on hover */
}

.toggle-buttons .dch-button {
    width: 150px;  /* Increase button width */
    height: 50px;  /* Increase button height */
    font-size: 1.2em;  /* Increase font size */
    margin: 0 10px;  /* Adjust margin for spacing */
    border-radius: 5px;  /* Maintain border radius */
    background: #444;  /* Button background */
    color: #ddd;  /* Text color */
    cursor: pointer;  /* Pointer cursor on hover */
}

.toggle-buttons .dch-button:hover {
    background: #666;  /* Darker background on hover */
    color: #fff;  /* Light text color on hover */
}

/* Charge and Discharge Buttons */
.charge-button, .discharge-button {
    width: 150px; /* Adjust button width as needed */
    height: 50px; /* Adjust button height as needed */
    font-size: 1.2em; /* Adjust font size as needed */
    margin: 0 10px; /* Adjust margin as needed */
    border-radius: 8px; /* Adjust border radius as needed */
    background: #444; /* Button background color */
    color: #ddd; /* Button text color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .1),
                5px 5px 10px rgba(0, 0, 0, .5);
}

/* Dropdown Container */
.dash-dropdown {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    color: #aaa;
}

/* Dropdown Options */
.dash-dropdown .Select-menu-outer {
    background-color: #333;
    color: #aaa;
}

/* Selected Dropdown Options */
.dash-dropdown .Select-value-label {
    background-color: #151515;
    color: #aaa;
}

/* Dropdown Placeholder */
.dash-dropdown .Select-placeholder {
    color: #666;
}

/* Dropdown Control */
.dash-dropdown .Select-control {
    background-color: #282828;
    border: 1px solid #282828;
    color: #aaa;
}

/* Dropdown Arrow */
.dash-dropdown .Select-arrow-zone {
    color: #aaa;
}

/* Hover and Focus Effects */
.dash-dropdown .Select-control:hover,
.dash-dropdown .Select-control:focus {
    border-color: #666;
}

.dash-dropdown .Select-option.is-focused {
    background-color: #555;
    color: #fff;
}

.dash-dropdown .Select-option.is-selected {
    background-color: #666;
    color: #fff;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin-left: 100px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Darker background with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #1e1e1e; /* Dark background for modal content */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #444;
    width: 80%; /* Could be more or less, depending on screen size */
    color: #ddd; /* Light text color for contrast */
    border-radius: 8px; /* Rounded corners */
}

/* Close Button */
.close-button {
    color: #ddd; /* Light color for the close button */
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
}

.ok-button {
    color: #ddd; /* Light color for the close button */
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
}

.close-button:hover,
.close-button:focus {
    color: #fff; /* Highlight color on hover/focus */
    text-decoration: none;
    cursor: pointer;
}

.ok-button:hover,
.ok-button:focus {
    color: #fff; /* Highlight color on hover/focus */
    text-decoration: none;
    cursor: pointer;
}

/* Input Fields */
.input-field {
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #555; /* Darker border for inputs */
    border-radius: 4px;
    background-color: #333; /* Dark background for inputs */
    color: #ddd; /* Light text color for inputs */
}

/* Dropdown Styles */
.dash-dropdown {
    margin-right: 123px;
    width: 1220px;
    /*background-color: #333; !* Dark background for dropdown *!*/
    color: #ddd; /* Light text color for dropdown */
}

/* Dropdown Options */
.dash-dropdown .Select-menu-outer {
    background-color: #333;
    color: #ddd;
}

/* Selected Dropdown Options */
.dash-dropdown .Select-value-label {
    background-color: #222;
    color: #ddd;
}

/* Dropdown Placeholder */
.dash-dropdown .Select-placeholder {
    color: #888;
}

/* Dropdown Control */
.dash-dropdown .Select-control {
    background-color: #444;
    border: 1px solid #444;
    color: #ddd;
}

/* Dropdown Arrow */
.dash-dropdown .Select-arrow-zone {
    color: #ddd;
}

/* Hover and Focus Effects */
.dash-dropdown .Select-control:hover,
.dash-dropdown .Select-control:focus {
    border-color: #666;
}

.dash-dropdown .Select-option.is-focused {
    background-color: #555;
    color: #fff;
}

.dash-dropdown .Select-option.is-selected {
    background-color: #666;
    color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    }

    .button {
        width: 30px;
        height: 30px;
        font-size: 0.7em;

    }
     .done-button {
         width: 50px;
         height: 50px;
        font-size: 0.7em;

     }

    .toggle-buttons .ch-button, .toggle-buttons .dch-button,
    .charge-button, .discharge-button {
        width: 80px;
        height: 40px;
        font-size: 0.9em;
    }

    .data-table {
        margin: 10px 0;
        width: 450px;
        margin-right: 120px;
    }

    .dash-dropdown {
        width: 410px;
        margin-bottom: 30px;
        margin-right: 130px;
        /*padding: 10px;*/
        font-size: 1em;
        color: #aaa;
    }


    .modal-content {
        width: 65%;
    }

}